/*Подключение внешнего шрифта*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

/*Цвета*/

:root {
  --basic-black: #000000;
  --basic-black-extra: #283136;
  --basic-black-social: #444444;
  --basic-grey: #eeeeee;
  --basic-grey-active: #d5d5d5;
  --basic-grey-border: #eeeeee;
  --basic-grey-current: #dbdbdb;
  --basic-grey-check: #4d4d4d;
  --basic-grey-description: #666666;
  --basic-grey-hover: #dfdfdf;
  --basic-grey-input: #d7dcde;
  --basiс-grey-input-hover: #b4b9bb;
  --basic-grey-social: #e1e1e1;
  --basic-grey-telephone: #666666;
  --basic-red: #fb565a;
  --basic-red-active: #d7373b;
  --basic-red-hover: #e74246;
  --basic-green: #00ca74;
  --basic-green-active: #00aa62;
  --basic-green-hover: #00bc6c;
  --basic-white: #ffffff;
  --basic-yellow: #efc849;
  --basic-yellow-active: #e5a722;
  --basic-yellow-hover: #eab534;
}

/*"Глобальные" селекторы*/

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

/*Стили кнопок*/

.button {
  border: none;
  border-radius: 3px;
  display: block;
  font: inherit;
  font-weight: 500;
  line-height: 50px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.button-advantage {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 240px;
}

.button-advantage:hover, .button-mail:hover, .button-order:hover, .button-send:hover, .button-service-websites:hover {
  background-color: var(--basic-red-hover);
}

.button-advantage:active, .button-mail:active, .button-order:active, .button-send:active, .button-service-websites:active {
  background-color: var(--basic-red-active);
}

.button-mail {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  width: 219px;
}

.button-order {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.button-send {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 259px;
}

.button-service {
  color: var(--basic-white);
  width: 160px;
}

.button-service-applications {
  background-color: var(--basic-green);
}

.button-service-applications:active {
  background-color: var(--basic-green-active);
}

.button-service-applications:focus, .button-service-applications:hover {
  background-color: var(--basic-green-hover);
}

.button-service-presentations {
  background-color: var(--basic-yellow);
}

.button-service-presentations:active {
  background-color: var(--basic-yellow-active);
}

.button-service-presentations:focus, .button-service-presentations:hover {
  background-color: var(--basic-yellow-hover);
}

.button-service-websites {
  background-color: var(--basic-red);
}

.button-submit-filters {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  width: 260px;
}

img {
  max-width: 100%;
  height: auto;
}

/*Сокрытие заголовков и иных элементов*/

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Стили для определённых частей страниц*/

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Шапка сайта*/

.navigation-basic, .navigation-user {
  margin: 0;
  list-style: none;
  padding: 0;
}

.basic-link, .site-link {
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}

.basic-link:active, .site-link:active {
  opacity: 0.3;
}

.basic-link:hover:not(.active), .site-link:hover:not(.active) {
  color: var(--basic-red);
}

.active {
  border-bottom: 2px solid var(--basic-red);
}

.main-header, .advantages {
  background: var(--basic-grey);
}

/*Тело сайта*/

/*Преимущества*/

.advantages {
  margin-bottom: 16px;
}

.advantage-header {
  font-size: 55px;
  line-height: 55px;
}

.advantage-description {
  color: var(--basic-black-extra);
}

.advantages-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*.Услуги*/

.services {
  margin-bottom: 130px;
  margin-top: 120px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-grey-border);
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.services-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 100px;
  text-align: left;
}

.service-description {
  width: 260px;
}

/*Кредо*/

.credo {
  margin-bottom: 80px;
  margin-top: 73px;
}

.credo .container {
  display: grid;
  grid-template-columns: 651px 1fr;
  gap: 149px;
}

.credo-orders {
  text-align: left;
  text-transform: uppercase;
}

.credo-orders-list {
  margin: 0;
  list-style: none;
  padding: 0;
  line-height: 48px;
}

.credo-pride {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.credo-description, .credo-orders-item {
  color: var(--basic-black-extra);
}

/*Показатели*/

.indicators-header {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 358px;
}

.indicators-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(3, 101px);
}

.indicator-number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.indicator-percent {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  position: relative;
  top: -9px;
}

.indicator-caption {
  color: var(--basic-black-extra);
  line-height: 18px;
}

/*Партнёры*/

.partners {
  border-top: 2px solid var(--basic-grey-border);
  border-bottom: 2px solid var(--basic-grey-border);
  margin-bottom: 82px;
  margin-top: 16px;
  padding-top: 65px;
  padding-bottom: 50px;
}

.partners-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 279px);
  gap: 47px;
  text-align: left;
}

.partners-item:not(:last-child) .partner-link {
  border-right: 2px solid var(--basic-grey-border);
  position: absolute;
  height: 52px;
}

.partner-img {
  opacity: 0.3;
}

.partner-img:active {
  opacity: 0.1;
}

.partner-img:focus, .partner-img:hover {
  opacity: 1;
}

/*Страница каталога*/

/*Заголовок*/

.catalog-header {
  background-color: var(--basic-grey);
}

.catalog-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.filters-legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters-features, .filters-grids, .filters-prices {
  border: none;
}

/*Особенности*/

.features-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*Сетки*/

.grids-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*Сортировки*/

.sort-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-type {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
}

.sort-type.selected {
  color: var(--basic-black);
  opacity: 1;
}

.arrows-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*Шаблоны*/

.template-img {
  position: absolute;
}

.template-card {
  background-color: var(--basic-grey);
  height: 231px;
  width: 360px;
  opacity: 0;
  position: relative;
  top: 348px;
}

.template-card:hover {
  opacity: 1;
}

.template-description {
  color: var(--basic-grey-description);
  font: inherit;
  line-height: 18px;
  text-align: center;
  padding-bottom: 16px;
}

.template-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  text-transform: uppercase;
}

.templates-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*Страницы*/

.pages-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.page {
  background-color: var(--basic-grey-border);
  border-radius: 3px;
  height: 50px;
  text-align: center;
  width: 50px;
}

.page-link {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  width: 50px;
}

.page-current {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-current);
  box-sizing: border-box;
}

.page-next {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  width: 260px;
}

/*Контактная информация (нижняя часть)*/

.about-us {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
}

.our-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.our-address {
  color: var(--basic-grey-telephone);
  font: inherit;
  line-height: 18px;
}

.our-telephone {
  color: var(--basic-grey-telephone);
  font: inherit;
  line-height: 36px;
}

/*Блок со скидкой*/

.discount-header {
  font-size: 36px;
  line-height: 36px;
}

.discount-description {
  line-height: 22px;
  color: var(--basic-black-social);
}

/*Модальное окно*/

.modal {
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  display: none;
}

.modal-header {
  font-size: 45px;
  line-height: 52.73px;
}

.modal-close {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.modal-label {
  font-weight: 700;
}

.modal-input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-grey-input);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-black-social);
  line-height: 18px;
  font: inherit;
}

.modal-textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-grey-input);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-black-social);
  font: inherit;
}

.modal-input:focus, .modal-textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-input:hover, .modal-textarea:hover {
  border: 2px solid var(--basic-grey-input-hover);
}

.modal-input:invalid, .modal-textarea:invalid {
  border: 2px solid var(--basic-red-hover);
}

.social-networks .container {
  display: grid;
  grid-template-columns: 267px 1fr;
  gap: 139px;
}

.social-networks-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 81px);
  grid-template-rows: 81px;
  gap: 12px;
}
