/*Подключение шрифта*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

/*Цвета*/

:root {
  --basic-black: #000000;
  --basic-black-extra: #283136;
  --basic-black-social: #444444;
  --basic-grey: #eeeeee;
  --basic-grey-active: #d5d5d5;
  --basic-grey-border: #eeeeee;
  --basic-grey-current: #dbdbdb;
  --basic-grey-check: #4d4d4d;
  --basic-grey-description: #666666;
  --basic-grey-hover: #dfdfdf;
  --basic-grey-input: #d7dcde;
  --basic-grey-input-background: #f1f1f1;
  --basiс-grey-input-hover: #b4b9bb;
  --basic-grey-pressed: #969696;
  --basic-grey-shadow: #cfcfcf;
  --basic-grey-social: #e1e1e1;
  --basic-grey-switched: #c1c1c1;
  --basic-grey-telephone: #666666;
  --basic-grey-toggle: #ababab;
  --basic-red: #fb565a;
  --basic-red-active: #d7373b;
  --basic-red-hover: #e74246;
  --basic-green: #00ca74;
  --basic-green-active: #00aa62;
  --basic-green-hover: #00bc6c;
  --basic-white: #ffffff;
  --basic-yellow: #efc849;
  --basic-yellow-active: #e5a722;
  --basic-yellow-hover: #eab534;
}

/*Глобальные селекторы*/

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Стили для кнопок*/

.button {
  border: none;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  word-break: break-all;
}

.button-advantage {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 240px;
}

.button-advantage:hover, .button-mail:hover, .button-order:hover, .button-send:hover, .button-service-websites:hover {
  background-color: var(--basic-red-hover);
}

.button-advantage:active, .button-mail:active, .button-order:active, .button-send:active, .button-service-websites:active {
  background-color: var(--basic-red-active);
}

.button-mail {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  width: 219px;
  margin-top: 37px;
}

.button-order {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 200px;
}

.button-send {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 259px;
  margin-top: 57px;
}

.button-service {
  color: var(--basic-white);
  width: 160px;
}

.button-service-applications {
  background-color: var(--basic-green);
}

.button-service-applications:active {
  background-color: var(--basic-green-active);
}

.button-service-applications:focus, .button-service-applications:hover {
  background-color: var(--basic-green-hover);
}

.button-service-presentations {
  background-color: var(--basic-yellow);
}

.button-service-presentations:active {
  background-color: var(--basic-yellow-active);
}

.button-service-presentations:focus, .button-service-presentations:hover {
  background-color: var(--basic-yellow-hover);
}

.button-service-websites {
  background-color: var(--basic-red);
}

.button-submit-filters {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  width: 260px;
}

.button-submit-filters:hover, .page-link:hover, .page-next:hover {
  background-color: var(--basic-grey-hover);
}

.button-submit-filters:active, .page-link:active, .page-next:active {
  background-color: var(--basic-grey-active);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  mix-blend-mode: normal;
  color: var(--basic-grey-pressed);
}

/*Контейнер*/

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Верхняя часть*/

.main-header {
  padding-top: 50px;
}

.header-logo {
  width: 160px;
  height: 66px;
}

.navigation-site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-basic {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  width: 437px;
  height: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  width: 115px;
  height: 30px;
  flex-wrap: wrap;
}

.basic-link, .site-link {
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}

.site-link {
  display: flex;
}

.basic-link:active, .site-link:active {
  opacity: .3;
}

.basic-link:hover:not(.active), .site-link:hover:not(.active) {
  color: var(--basic-red);
}

.active {
  border-bottom: 2px solid var(--basic-red);
}

.site-link.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/basket.svg");
  margin-right: 25px;
  display: flex;
  align-self: center;
}

.main-header, .advantages {
  background: var(--basic-grey);
}

/*Блок преимуществ*/

.advantages .container {
  position: relative;
}

.advantage-content {
  width: 397px;
}

.advantage-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 538px;
  padding: 0;
  margin: 78px 0 25px 0;
}

.advantage-description {
  color: var(--basic-black-extra);
  margin-bottom: 36px;
  padding: 0;
}

.advantages-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.advantage-item.chosen {
  display: flex;
  width: 1160px;
}

.advantage-item:not(.chosen) {
  display: none;
}

.advantage-picture {
  width: 760px;
  height: 431px;
  background-color: var(--basic-grey);
}

.advantage-img {
  width: 760px;
  height: 431px;
}

.advantages-switchers-list {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  width: 88px;
  justify-content: space-between;
  height: 18px;
  position: absolute;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
}

.advantage-switcher-item {
  margin-bottom: 96px;
}

.advantage-switcher {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  background-color: var(--basic-white);
  position: relative;
  display: flex;
  align-items: center;
}

.advantage-switcher.chosen::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/*Блок услуг*/

.services .container {
  padding-top: 56px;
  padding-bottom: 70px;
  border-bottom: 2px solid var(--basic-grey-border);
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.services-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.service-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-description {
  max-width: 260px;
}

.service-image {
  width: 300px;
  height: 150px;
}

/*Блок кредо*/

.credo {
  padding-top: 20px;
  padding-bottom: 40px;
}

.credo .container {
  display: grid;
  grid-template-columns: 651px 1fr;
  gap: 149px;
}

.credo-orders {
  text-align: left;
  text-transform: uppercase;
}

.credo-orders-list {
  margin: 0;
  list-style: none;
  padding: 0 0 0 35px;
  line-height: 48px;
}

.credo-order-item {
  position: relative;
}

.credo-order-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  left: -34px;
  top: 22px;
}

.credo-pride {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.credo-description, .credo-orders-item {
  color: var(--basic-black-extra);
}

.indicators-header {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 358px;
}

.indicators-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(3, 101px);
}

.indicator-number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.indicator-percent {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  position: relative;
  bottom: 9px;
}

.indicator-caption {
  color: var(--basic-black-extra);
  line-height: 18px;
}

/*Блок партнёров*/

.partners .container {
  border-top: 2px solid var(--basic-grey-border);
  border-bottom: 2px solid var(--basic-grey-border);
  padding-top: 65px;
  padding-bottom: 33px;
}

.partners-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.partner-item {
  position: relative;
}

.partner-item:not(:nth-child(4n+4))::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  position: absolute;
  top: 0;
  left: 249px;
}

.partner-img {
  opacity: .3;
}

.partner-img:active {
  opacity: .1;
}

.partner-img:focus, .partner-img:hover {
  opacity: 1;
}

/*Внутренняя страница*/

.catalog-main {
  padding-top: 55px;
}

.catalog-header {
  background-color: var(--basic-grey);
  padding-top: 78px;
  padding-bottom: 105px;
}

.catalog-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  grid-template-rows: 26px;
}

/*Форма слева*/

.filter-legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters-price {
  margin: 0 0 54px 15px;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey-input-background);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-grey-input);
}

.range-controls .bar {
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey-shadows);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-black-extra);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-grey-input-background);
  font-family: inherit;
  font-size: inherit;
  height: 38px;
}

.option {
  display: block;
  margin-bottom: 17px;
}

.input-checkbox, .input-radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: .4;
}

.input-checkbox:checked+.checkbox {
  background-image: url("../img/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: .4;
  width: 25px;
}

.input-checkbox:focus+.checkbox, .input-checkbox:hover+.checkbox {
  opacity: 1;
}

.input-checkbox:checked:focus+.checkbox, .input-checkbox:checked:hover+.checkbox {
  opacity: 1;
}

.input-checkbox:disabled+.checkbox {
  opacity: .1;
}

.input-checkbox:checked:disabled+.checkbox {
  opacity: .1;
}

.label {
  line-height: 20px;
  margin-left: 33px;
  color: var(--basic-black-extra);
  cursor: pointer;
}

.radiobutton {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog/radio-off.svg");
  background-repeat: no-repeat;
  opacity: .4;
}

.input-radio:checked+.radiobutton {
  background-image: url("../img/catalog/radio-on.svg");
  background-repeat: no-repeat;
  opacity: .4;
}

.input-radio:focus+.radiobutton, .input-radio:hover+.radiobutton, .input-radio:checked:focus+.radiobutton, .input-radio:checked:hover+.radiobutton {
  opacity: 1;
}

.input-radio:disabled+.radiobutton, .input-radio:checked:disabled+.radiobutton {
  opacity: .1;
}

.filters-features, .filters-grid {
  border: none;
}

.features-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.grids-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*Сортировка*/

.catalog-sort {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.sort-list {
  margin: 0 auto 4px 254px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
}

.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  width: 134px;
}

.sort-type {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  opacity: .3;
  text-transform: uppercase;
}

.sort-type:hover, .sort-type.selected {
  opacity: 1;
}

.arrows-list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 40px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 21px;
}

.sort-up {
  background-image: url("../img/catalog/arrow-up.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  display: block;
}

.sort-down {
  background-image: url("../img/catalog/arrow-down.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  display: block;
}

.catalog-templates {
  grid-column: 2 / -1;
}

/*Шаблоны*/

.templates-list {
  margin: 20px 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 757px;
}

.template-item {
  width: 359px;
  height: 578px;
  margin-top: 31px;
  margin-bottom: 31px;
}

.template-item:first-child {
  width: 359px;
  height: 578px;
  margin-top: 31px;
  margin-bottom: 31px;
}

.template-up {
  background-image: url("../img/catalog/browser.svg");
  background-repeat: no-repeat;
  width: 359px;
  height: 40px;
  opacity: .12;
}

.template-picture {
  width: 359px;
  height: 578px;
  background-color: var(--basic-grey);
  position: absolute;
}

.template-img {
  width: 359px;
  height: 578px;
}

.template-card {
  background-color: var(--basic-grey);
  height: 231px;
  width: 360px;
  opacity: 0;
  position: relative;
  top: 328px;
  text-align: center;
}

.template-item:hover .template-up, .template-item:hover .template-card {
  opacity: 1;
}

.template-description {
  color: var(--basic-grey-description);
  font: inherit;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 255px;
}

.template-header {
  padding-top: 19px;
}

.template-header-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-transform: uppercase;
  color: inherit;
}

.template-header-link:hover {
  color: var(--basic-red);
}

.template-header-link:active {
  color: var(--basic-black);
  opacity: .3;
}

/*Кнопки-страницы*/

.pages-list {
  margin: 0;
  list-style: none;
  padding: 55px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.page-item:not(:last-child) {
  margin: 0 12px 0 0;
  min-width: 50px;
}

.page-link {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link.current {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-current);
  box-sizing: border-box;
  height: 50px;
}

.page-next {
  background-color: var(--basic-grey-border);
  color: var(--basic-black);
  width: 260px;
}

/*Нижняя часть*/

.main-footer {
  position: relative;
}

.contacts .container {
  position: relative;
  padding-top: 36px;
}

/*Карта*/

.map {
  position: relative;
  padding-top: 80px;
  height: 416px;
}

.map-img {
  max-width: 1440px;
  height: 416px;
  position: absolute;
  margin: 0 auto;
  display: block;
  transform: translateX(-50%);
  left: 50%;
}

/*Контактная информация*/

.about-us {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  z-index: 2;
  position: relative;
  padding-left: 50px;
  padding-right: 39px;
}

.our-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 49px;
}

.our-address {
  color: var(--basic-grey-telephone);
  font: inherit;
  line-height: 18px;
  width: 230px;
  padding-bottom: 24px;
}

.our-telephone {
  color: var(--basic-grey-telephone);
  font: inherit;
  line-height: 18px;
}

/*Модальное окно*/

.modal {
  width: 960px;
  background-color: var(--basic-white);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
  z-index: 3;
  height: 590px;
  bottom: 124px;
  display: none;
}

.modal.opened {
  display: block;
}

.modal-content {
  width: 790px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 45px;
  line-height: 52.73px;
  margin-top: 55px;
  margin-bottom: 21px;
}

.modal-close {
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/catalog/close.svg");
  background-repeat: no-repeat;
  border: none;
  margin-top: 34px;
}

.modal-close:hover, .modal-close:active {
  opacity: .3;
}

.modal-label {
  font-weight: 700;
  display: block;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.modal-input-group {
  padding-bottom: 34px;
}

.modal-input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-grey-input);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-black-social);
  line-height: 18px;
  font: inherit;
}

.modal-textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-grey-input);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-black-social);
  font: inherit;
  line-height: 18px;
}

.modal-input:focus, .modal-textarea:focus {
  border: 2px solid var(--basiс-black);
  color: var(--basiс-black);
}

.modal-input:hover, .modal-textarea:hover {
  border: 2px solid var(--basiс-grey-input-hover)
}

/*Блок кнопок со ссылками на соцсети*/

.social-networks .container {
  padding-top: 134px;
  display: flex;
  justify-content: space-between;
}

.social-networks-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 270px;
}

.social-network-link {
  display: flex;
  width: 81px;
  height: 81px;
  background-image: linear-gradient(0, var(--basic-grey-social), var(--basic-grey-social));
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-network-link:hover {
  background-image: linear-gradient(0, var(--basic-red-hover), var(--basic-red-hover));
}

.social-network-link:active {
  background-image: linear-gradient(0, var(--basic-red-active), var(--basic-red-active));
}

.social-network.vk {
  background-image: url("../img/vk.svg");
  width: 26px;
  height: 15px;
}

.social-network.facebook {
  background-image: url("../img/facebook.svg");
  width: 12px;
  height: 22px;
}

.social-network.instagram {
  background-image: url("../img/instagram.svg");
  width: 21px;
  height: 21px;
}

/*Блок со скидкой*/

.discount {
  padding-right: 188px;
}

.discount-header {
  font-size: 36px;
  line-height: 10px;
}

.discount-description {
  line-height: 22px;
  color: var(--basic-black-social);
}
